<app-header-controls></app-header-controls>

<nz-tabset nzLinkRouter>
    <nz-tab>
        <a
            nz-tab-link
            [routerLink]="['.']"
            [queryParams]="{ registration: null }"
            queryParamsHandling="merge"
        >
            {{ "auth.tabs.signIn" | translate }}
        </a>

        <form
            nz-form
            nzLayout="vertical"
            [formGroup]="signInForm.formData"
            (submit)="signInForm.submit()"
        >
            <nz-form-item>
                <nz-form-label nzFor="login">
                    {{ "common.login" | translate }}
                </nz-form-label>
                <nz-form-control
                    [nzValidateStatus]="signInForm.errors.login.status | async"
                    [nzErrorTip]="signInForm.errors.login.error | async"
                >
                    <input formControlName="login" nz-input id="login" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="password">
                    {{ "common.password" | translate }}
                </nz-form-label>
                <nz-form-control
                    [nzValidateStatus]="
                        signInForm.errors.password.status | async
                    "
                    [nzErrorTip]="signInForm.errors.password.error | async"
                >
                    <input
                        type="password"
                        formControlName="password"
                        nz-input
                        id="password"
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button
                        type="submit"
                        nz-button
                        nzType="primary"
                        [nzLoading]="submitting"
                    >
                        {{ "auth.signIn.form.submitButton" | translate }}
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-tab>
    <nz-tab>
        <a
            nz-tab-link
            [routerLink]="['.']"
            [queryParams]="{ registration: true }"
            queryParamsHandling="merge"
        >
            {{ "auth.tabs.signUp" | translate }}
        </a>

        <form
            nz-form
            nzLayout="vertical"
            [formGroup]="signUpForm.formData"
            (submit)="signUpForm.submit()"
        >
            <nz-form-item>
                <nz-form-label nzFor="login">
                    {{ "common.login" | translate }}
                </nz-form-label>
                <nz-form-control
                    [nzValidateStatus]="signUpForm.errors.login.status | async"
                    [nzErrorTip]="signUpForm.errors.login.error | async"
                >
                    <input formControlName="login" nz-input id="login" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="password">
                    {{ "common.password" | translate }}
                </nz-form-label>
                <nz-form-control
                    [nzValidateStatus]="
                        signUpForm.errors.password.status | async
                    "
                    [nzErrorTip]="signUpForm.errors.password.error | async"
                >
                    <input
                        type="password"
                        formControlName="password"
                        nz-input
                        id="password"
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="email">
                    {{ "common.email" | translate }}
                </nz-form-label>
                <nz-form-control
                    [nzValidateStatus]="signUpForm.errors.email.status | async"
                    [nzErrorTip]="signUpForm.errors.email.error | async"
                >
                    <input formControlName="email" nz-input id="email" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button
                        type="submit"
                        nz-button
                        nzType="primary"
                        [nzLoading]="submitting"
                    >
                        {{ "auth.signUp.form.submitButton" | translate }}
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-tab>
</nz-tabset>
