:host {
    display: block;
}

.main {
    display: flex;
}

.info {
    width: 330px;
}

.info-table {
    margin-top: 32px;
}

.chart {
    flex: 1;
    margin-left: 48px;
}

.workers-table {
    margin-top: 32px;
}
