<app-target-login-badge></app-target-login-badge>

<div class="main">
    <div class="info">
        <nz-radio-group
            nzButtonStyle="solid"
            [(ngModel)]="currentCoin"
            (ngModelChange)="onCurrentCoinChange($event)"
        >
            <label *ngFor="let coin of coins" nz-radio-button [nzValue]="coin">
                {{ coin }}
            </label>
        </nz-radio-group>

        <nz-table
            class="info-table"
            nzBordered
            [nzTemplateMode]="true"
            [nzLoading]="tableData.isLoading"
        >
            <thead>
                <tr>
                    <th>
                        {{ "monitoring.balance" | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ balance }}
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <div class="info-table">
            <nz-table
                nzBordered
                [nzTemplateMode]="true"
                [nzLoading]="tableData.isLoading"
            >
                <thead>
                    <tr>
                        <th>
                            {{ "common.dictionary.workers" | translate }}
                        </th>
                        <th>
                            {{ "common.dictionary.shareRate" | translate }}
                        </th>
                        <th>
                            {{ "common.dictionary.power" | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ userStatsItem?.workers }}</td>
                        <td>
                            {{
                                userStatsItem?.shareRate
                                    | suffixify: ESuffix.ShareRate
                            }}
                        </td>
                        <td>
                            {{
                                userStatsItem?.power
                                    | metricPrefixify
                                        : userStatsItemZeroUnitsOffset
                                    | toFixed
                                    | suffixify: ESuffix.Power
                            }}
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>

        <nz-table
            class="info-table-mobile _table-mobile"
            nzBordered
            [nzTemplateMode]="true"
            [nzLoading]="tableData.isLoading"
        >
            <tbody>
                <tr>
                    <th>
                        {{ "monitoring.balance" | translate }}
                    </th>
                </tr>
                <tr>
                    <td>
                        <span style="font-size: 1.1em;">
                            {{ balance }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "common.dictionary.workers" | translate }}
                    </th>
                </tr>
                <tr>
                    <td>{{ userStatsItem?.workers }}</td>
                </tr>
                <tr>
                    <th>
                        {{ "common.dictionary.shareRate" | translate }}
                    </th>
                </tr>
                <tr>
                    <td>
                        {{
                            userStatsItem?.shareRate
                                | suffixify: ESuffix.ShareRate
                        }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "common.dictionary.power" | translate }}
                    </th>
                </tr>
                <tr>
                    <td>
                        {{
                            userStatsItem?.power
                                | metricPrefixify: userStatsItemZeroUnitsOffset
                                | toFixed
                                | suffixify: ESuffix.Power
                        }}
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>

    <app-chart-power
        class="chart"
        [stats]="userStatsHistory.stats"
        [powerMultLog10]="userStatsHistory.powerMultLog10"
    ></app-chart-power>
</div>

<nz-table
    class="workers-table"
    nzBordered
    [nzTemplateMode]="true"
    [nzLoading]="tableData.isLoading"
>
    <thead>
        <tr>
            <th nzWidth="1px"></th>
            <th>
                {{ "common.dictionary.workers" | translate }}
            </th>
            <th>
                {{ "common.dictionary.shareRate" | translate }}
            </th>
            <th>
                {{ "common.dictionary.power" | translate }}
            </th>
            <th>
                {{ "common.dictionary.lastSeen" | translate }}
            </th>
        </tr>
    </thead>
    <tbody *ngIf="userWorkersStatsList">
        <tr
            *ngFor="let item of userWorkersStatsList"
            className="_clickable"
            (click)="onWorkerRowClick(item.name)"
        >
            <td>
                <ng-container [ngSwitch]="getWorkerState(item.lastShareTime)">
                    <i
                        *ngSwitchCase="EWorkerState.Normal"
                        class="worker-state _normal"
                        nz-icon
                        nzType="check-circle"
                        nzTheme="outline"
                    ></i>
                    <i
                        *ngSwitchCase="EWorkerState.Warning"
                        class="worker-state _warning"
                        nz-icon
                        nzType="exclamation-circle"
                        nzTheme="outline"
                    ></i>
                    <i
                        *ngSwitchCase="EWorkerState.Error"
                        class="worker-state _error"
                        nz-icon
                        nzType="minus-circle"
                        nzTheme="outline"
                    ></i>
                </ng-container>
            </td>
            <td>{{ item.name }}</td>
            <td>
                {{ item.shareRate | suffixify: ESuffix.ShareRate }}
            </td>
            <td>
                {{
                    item.power
                        | metricPrefixify: userStatsItemZeroUnitsOffset
                        | toFixed
                        | suffixify: ESuffix.Power
                }}
            </td>
            <td>{{ item.lastShareTime | ago | async }}</td>
        </tr>
    </tbody>
</nz-table>

<div *ngIf="userWorkersStatsList" class="workers-mobile">
    <div
        *ngFor="let item of userWorkersStatsList"
        class="worker-mobile-card"
        (click)="onWorkerRowClick(item.name)"
    >
        <div class="worker-mobile-card-title">
            <ng-container [ngSwitch]="getWorkerState(item.lastShareTime)">
                <i
                    *ngSwitchCase="EWorkerState.Normal"
                    class="worker-state _normal"
                    nz-icon
                    nzType="check-circle"
                    nzTheme="outline"
                ></i>
                <i
                    *ngSwitchCase="EWorkerState.Warning"
                    class="worker-state _warning"
                    nz-icon
                    nzType="exclamation-circle"
                    nzTheme="outline"
                ></i>
                <i
                    *ngSwitchCase="EWorkerState.Error"
                    class="worker-state _error"
                    nz-icon
                    nzType="minus-circle"
                    nzTheme="outline"
                ></i>
            </ng-container>

            <span>{{ item.name }}</span>
        </div>

        <p>
            {{ "common.dictionary.shareRate" | translate }}:
            {{ item.shareRate | suffixify: ESuffix.ShareRate }}
        </p>
        <p>
            {{ "common.dictionary.power" | translate }}:
            {{
                item.power
                    | metricPrefixify: userStatsItemZeroUnitsOffset
                    | toFixed
                    | suffixify: ESuffix.Power
            }}
        </p>
        <p>
            {{ "common.dictionary.lastSeen" | translate }}:
            {{ item.lastShareTime | ago | async }}
        </p>
    </div>
</div>

<nz-modal
    nzWidth="80%"
    [nzVisible]="userWorkersStatsHistory"
    [nzTitle]="userWorkersStatsHistory?.name"
    [nzFooter]="null"
    (nzOnCancel)="userWorkersStatsHistory = null"
>
    <app-chart-power
        *ngIf="userWorkersStatsHistory"
        [stats]="userWorkersStatsHistory.stats"
        [powerMultLog10]="userWorkersStatsHistory.powerMultLog10"
    ></app-chart-power>
</nz-modal>
