<app-target-login-badge></app-target-login-badge>

<nz-radio-group nzButtonStyle="solid" [(ngModel)]="currentCoin" (ngModelChange)="onCurrentCoinChange($event)">
    <label *ngFor="let coin of coins" nz-radio-button [nzValue]="coin">
        {{ coin }}
    </label>
</nz-radio-group>

<nz-table nzBordered [nzTemplateMode]="true" [nzLoading]="!statsHistory">
    <thead>
        <tr>
            <th>
                {{ "common.dictionary.date" | translate }}
            </th>
            <th>
                {{ "common.dictionary.shareRate" | translate }}
            </th>
            <th>
                {{ "common.dictionary.power" | translate }}
            </th>
            <th>
                {{ "common.dictionary.acceptedDifficulty" | translate }}
            </th>
        </tr>
    </thead>
    <tbody *ngIf="statsHistory">
        <tr *ngFor="let item of statsHistory">
            <td>{{ item.time | seconds | date: "shortDate" | async }}</td>
            <td>
                {{ item.shareRate | suffixify: ESuffix.ShareRate }}
            </td>
            <td>
                {{
                    item.power
                        | metricPrefixify: powerMultLog10
                        | toFixed
                        | suffixify: ESuffix.Power
                }}
            </td>
            <td>
                {{ item.shareWork | acceptedDifficulty | toFixed | suffixify }}
            </td>
        </tr>
    </tbody>
</nz-table>