<div style="display: flex;">
    <nz-select
        style="width: 300px;"
        [(ngModel)]="poolStats"
        [nzLoading]="!poolStatsList"
        (ngModelChange)="onPoolStatsSelect()"
    >
        <nz-option
            *ngFor="let item of poolStatsList"
            [nzLabel]="item.coin"
            [nzValue]="item"
        ></nz-option>
    </nz-select>

    <nz-table
        *ngIf="poolStats"
        style="flex: 1; margin-left: 32px; max-width: 800px;"
        nzBordered
        nzSize="small"
        [nzTemplateMode]="true"
    >
        <tbody>
            <tr *ngFor="let item of poolStatsPairs">
                <td>{{ item.name }}</td>
                <td>{{ item.value }}</td>
            </tr>
        </tbody>
    </nz-table>
</div>

<nz-table
    style="margin: 32px 0;"
    nzBordered
    [nzTemplateMode]="true"
    [nzLoading]="foundBlocksLoading"
>
    <thead>
        <tr>
            <th *ngFor="let title of foundBlockKeys">
                {{ title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let foundBlock of foundBlocks">
            <td *ngFor="let key of foundBlockKeys">
                {{ foundBlock[key] }}
            </td>
        </tr>
    </tbody>
</nz-table>
