<div class="sign-up-block">
    <a
        class="sign-up-link"
        [routerLink]="[signUpLink.href]"
        [queryParams]="signUpLink.params"
    >
        {{ "home.signUpButton" | translate }}
    </a>
</div>

<div class="main">
    <div class="coins-block">
        <div class="coin-select-block">
            <span class="coin-select-label">
                {{ "home.coinSelect" | translate }}
            </span>

            <nz-select
                class="coin-select"
                [(ngModel)]="poolStats"
                [nzLoading]="!poolStatsList"
                (ngModelChange)="onPoolStatsSelect()"
            >
                <nz-option
                    *ngFor="let item of poolStatsList"
                    [nzLabel]="item.coin"
                    [nzValue]="item"
                ></nz-option>
            </nz-select>
        </div>

        <nz-table
            *ngIf="poolStats"
            style="width: 100%;"
            nzBordered
            nzSize="small"
            [nzTemplateMode]="true"
        >
            <tbody>
                <tr>
                    <td>{{ "common.dictionary.power" | translate }}</td>
                    <td>
                        {{
                            poolStats.power
                                | metricPrefixify: poolStats.powerMultLog10
                                | toFixed
                                | suffixify: ESuffix.Power
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Clients</td>
                    <td>{{ poolStats.clients }}</td>
                </tr>
                <tr>
                    <td>{{ "common.dictionary.workers" | translate }}</td>
                    <td>{{ poolStats.workers }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>

    <app-chart-power
        class="coin-chart"
        [stats]="poolStatsHistory.stats"
        [powerMultLog10]="poolStatsHistory.powerMultLog10"
    ></app-chart-power>
</div>

<nz-table
    class="found-blocks-table"
    nzBordered
    [nzTemplateMode]="true"
    [nzLoading]="foundBlocksLoading"
>
    <thead>
        <tr>
            <th *ngFor="let title of foundBlockKeys">
                {{ "home.foundBlocksTable.title." + title | translate }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let foundBlock of foundBlocks">
            <td *ngFor="let key of foundBlockKeys">
                <ng-container
                    *ngTemplateOutlet="
                        foundBlockDataTemplate;
                        context: {
                            key: key,
                            value: foundBlock[key]
                        }
                    "
                ></ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>

<nz-table
    *ngFor="let foundBlock of foundBlocks"
    class="found-blocks-table-mobile _table-mobile"
    [nzTemplateMode]="true"
>
    <tbody>
        <ng-container *ngFor="let key of foundBlockKeys">
            <tr>
                <th>
                    {{ "home.foundBlocksTable.title." + key | translate }}
                </th>
            </tr>
            <tr>
                <td>
                    <ng-container
                        *ngTemplateOutlet="
                            foundBlockDataTemplate;
                            context: {
                                key: key,
                                value: foundBlock[key]
                            }
                        "
                    ></ng-container>
                </td>
            </tr>
        </ng-container>
    </tbody>
</nz-table>

<ng-template #foundBlockDataTemplate let-key="key" let-value="value">
    <ng-container [ngSwitch]="key">
        <ng-container *ngSwitchCase="'hash'">
            <span class="found-blocks-hash">
                {{ value }}
            </span>
        </ng-container>

        <ng-container *ngSwitchCase="'time'">
            {{ value * 1000 | date: "dd MMM HH:mm" | async }}
        </ng-container>

        <ng-container *ngSwitchDefault>
            {{ value }}
        </ng-container>
    </ng-container>
</ng-template>
