:host {
    display: flex;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

.enter-link {
    display: block;
    background: chartreuse;
    color: white;
    text-shadow: 1px 1px 3px black;
    padding: 0 20px;
}
