<nz-layout>
    <nz-sider nzBreakpoint="md" [nzWidth]="64">
        <a class="logo" routerLink="/">
            <app-logo [iconOnly]="true"></app-logo>
        </a>

        <ul nz-menu nzMode="inline" [nzTheme]="theme | async">
            <li
                *ngFor="let item of navigationItems; trackBy: trackById"
                nz-menu-item
                nz-tooltip
                nzTooltipPlacement="right"
                [nzTooltipTitle]="item.title | translate"
                [nzSelected]="item.route === currentRoute"
            >
                <a [routerLink]="item.route">
                    <i nz-icon [nzType]="item.icon" nzTheme="outline"></i>
                </a>
            </li>
        </ul>
    </nz-sider>

    <nz-layout>
        <nz-header>
            <div class="header">
                <div></div>
                <div style="margin-right: 24px;">
                    <button nz-button nzType="link" (click)="logOut()">
                        Log Out
                    </button>
                </div>
            </div>
        </nz-header>

        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>

        <nz-footer>
            <app-footer></app-footer>
        </nz-footer>
    </nz-layout>
</nz-layout>
