<nz-layout style="width: 100%;">
    <nz-sider [nzWidth]="64">
        <ul nz-menu nzMode="inline" [nzTheme]="theme | async">
            <li
                *ngFor="let item of navigationItems; trackBy: trackById"
                nz-menu-item
                nz-tooltip
                nzTooltipPlacement="right"
                [nzTooltipTitle]="item.title | translate"
                [nzSelected]="item.route === currentRoute"
            >
                <a [routerLink]="item.route">
                    <i nz-icon [nzType]="item.icon" nzTheme="outline"></i>
                </a>
            </li>
        </ul>
    </nz-sider>

    <nz-layout>
        <nz-header>
            <div class="header">
                <a class="logo" routerLink="/">
                    <app-logo [iconOnly]="true"></app-logo>
                </a>

                <i
                    class="nav-menu-mobile"
                    nz-icon
                    nzType="menu"
                    nzTheme="outline"
                    (click)="showMobileNavMenu = true"
                ></i>

                <button
                    class="logout"
                    nz-button
                    nzType="link"
                    (click)="logOut()"
                >
                    Log Out
                </button>
            </div>
        </nz-header>

        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>

        <nz-footer *ngIf="false">
            <app-footer></app-footer>
        </nz-footer>
    </nz-layout>
</nz-layout>

<nz-drawer
    [nzVisible]="showMobileNavMenu"
    [nzClosable]="false"
    (nzOnClose)="showMobileNavMenu = false"
>
    <div class="nav-menu-mobile-container">
        <ul nz-menu nzMode="inline" [nzTheme]="theme | async">
            <li
                *ngFor="let item of navigationItems; trackBy: trackById"
                nz-menu-item
                [nzSelected]="item.route === currentRoute"
            >
                <a [routerLink]="item.route">
                    <i nz-icon [nzType]="item.icon" nzTheme="outline"></i>
                    {{ item.title | translate }}
                </a>
            </li>
        </ul>

        <button nz-button (click)="logOut()">
            Log Out
        </button>
    </div>
</nz-drawer>
